appname: "kronekeeper"
charset: "UTF-8"
layout: "main"
session: 'JSON'
template: 'template_toolkit'
behind_proxy: 1
krn_to_csv: 'path-to-kronekeeper/KRNtoCSV/KRNtoCSV.exe'

engines:
    session:
        JSON:
            session_dir: '/tmp/kronekeeper'
    template:
        template_toolkit:
    serializer:
        JSON:
            pretty: 1

plugins:
    Database:
        driver: 'Pg'
        database: 'my-db'
        username: 'my-user'
        password: 'my-password'
        dbi_params:
            RaiseError: 1
            AutoCommit: 0
        log_queries: 1
    Auth::Extensible:
        realms:
            users:
                provider: 'kronekeeper::AuthDB'
                users_table: 'person'
                users_username_column: 'email'
                roles_table: 'role'
                user_roles_table: 'user_role'
                user_roles_role_id_column: 'role_id'
        no_default_pages: 1
        no_login_handler: 1
        exit_page: '/login'
        user_home_page: '/frame/'
        denied_page: '/denied'
