appname: "kronekeeper"
charset: "UTF-8"
layout: "main"
session: 'JSON'
template: 'template_toolkit'

engines:
    session:
        JSON:
            session_dir: '/tmp/kronekeeper'
    template:
        template_toolkit:
            start_tag: '<%'
            end_tag: '%>'

plugins:
    Database:
        driver: 'Pg'
        database: 'my-db'
        username: 'my-user'
        password: 'my-password'
        dbi_params:
            RaiseError: 1
            AutoCommit: 0
        log_queries: 1
#    Auth::Extensible:
#        realms:



