<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=[% settings.charset %]" />
		<title>kronekeeper</title>
		<link rel="stylesheet" href="[% request.uri_base %]/css/jquery-ui.min.css" />
		<link rel="stylesheet" href="[% request.uri_base %]/css/style.css" />
		<link rel="shortcut icon" href="/favicon.png" />
		<script src="[% request.uri_base %]/js/require-2.2.0.min.js"></script>
	</head>
	<body>

		<div class="masthead">
				<div class="logo">
					<a href="[% request.uri_base %]/">
						<img src="[% request.uri_base %]/images/logo.png" alt="Kronekeeper logo" />
					</a>
				</div>

				<div class="message">
				[% IF session.logged_in_user %]
					[% session.user.name | html %] : [% session.account.name | html %]
				[% ELSE %]
					not logged in
				[% END %]
				</div>
			<div class="menu">
				<a href="/frame/">frames</a>
				<a href="/template/">templates</a>
				[% IF user_roles.manage_users %]
 				<a href="/user/">users</a>
				[% END %]
				<a href="/user/password">settings</a>
				<a href="/logout">logout</a>
			</div>
		</div>
[% content %]

		<div class="footer">
			&copy; NP Broadcast Limited 2016-2017<br />
			<div class="menu">
				<ul>
					<li><a href="/agpl-3.0-standalone.html">licence</a></li>
					<li><a href="https://github.com/nick-prater/kronekeeper">source code</a></li>
					<li><a href="/credits">credits</a></li>
					<li><a href="https://github.com/nick-prater/kronekeeper/issues">issues</a></li>
					<li><a href="https://kronekeeper.com">home page</a></li>
				</ul>
			</div>
		</div>
	</body>
</html>
