
<div class="container">
			<h1>Frames</h1>

			<table>

				[% FOREACH frame IN frames %]
				<tr>
					<td><a href="[% frame.id %]">[% frame.name %]</a></td>
				</tr>
				[% END %]
			</table>

</div>
