<div class="ui-state-error ui-corner-all"> 
[% IF error_code == 'INVALID_CIRCUIT' %]
	<h3>Cannot connect jumper.</h3>
	<p>Destination <span class="designation">[% b_designation %]</span> is not a valid circuit for this frame.</p>
[% ELSE %]
	<p>Sorry... an unexpected error has occurred.</p>
[% END %]
</div>
